@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

@import "tailwindcss";

html,
body, 
#root {
  height: 100%;
    width: 100%;
  font-family: 'DM Sans', sans-serif;
    @apply text-gray-500;
}